@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ubuntu&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: hidden;
}

.fixed-background {
    background-image: url('https://tazbuch.github.io/targettrey.png');
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    height: 100vh; 
    color: #ffffff; 
    text-align: center;
    padding: 20px;
}

.text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}

input[type=text] {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
#video-background {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

input[type=text]:focus + #video-background {
    border: 3px solid #555;
}

footer {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    position: absolute;
    bottom: 0;
}
